@import "tailwindcss";
@theme {
    --font-MorabbaLight : "Morabba Light";
    --font-MorabbaBold : "Morabba Bold";
    --font-MorabbaMedium : "Morabba Medium";

    --color-midnight: #032340; 
    --color-orange-noraml: #FA541C; 
    --color-blue-noraml: #FA541C; 
    --color-black-noraml: #FA541C; 
    --color-black-main: #01070D; 


    --breakpoint-xs : 480px;
}

@layer utilities {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .shadow-helper-class {
        box-shadow: 0px 0px 20px 2px #00000014;
    }
    .container {
        @apply mx-auto px-4 lg:px-2.5
    }
    .btn-orange {
        @apply py-2 px-6 w-full flex gap-x-2   justify-center  rounded-md mt-4 bg-orange-noraml items-end        ;
    }
    .btn-midnight {
        @apply py-2 px-6 w-full flex gap-x-2   justify-center  rounded-md mt-4 bg-midnight items-end        ;
    }
}

@layer base {

    body {
        @apply font-MorabbaLight overflow-auto 
    }

    @font-face {
        font-family: "Morabba Light";
        src: url("../public/fonts/Morabba/woff2/Morabba-Light.woff2");
    }
    @font-face {
        font-family: "Morabba Medium";
        src: url("../public/fonts/Morabba/woff2/Morabba-Medium.woff2");
    }
    @font-face {
        font-family: "Morabba Bold";
        src: url("../public/fonts/Morabba/woff2/Morabba-Bold.woff2");
    }
    
}
